@import "tailwindcss";
@import "highlight.js/styles/atom-one-dark.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  overscroll-behavior: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    Arial, Helvetica, sans-serif,
    /* Chinese fonts */
    'Noto Sans SC', 'Noto Sans TC', 'PingFang SC', 'PingFang TC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'SimSun', 'WenQuanYi Micro Hei';
}

footer {
  background-color: var(--background);
}

.tiptap-editor {
  border: none;
}

.tiptap-editor .ProseMirror {
  min-height: 18rem;
  /* padding: 1rem; */
  outline: none;
}

.post-content h1,
.tiptap-editor .ProseMirror h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-content h2,
.tiptap-editor .ProseMirror h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.post-content h3,
.tiptap-editor .ProseMirror h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}

.post-content p,
.tiptap-editor .ProseMirror p {
  margin-bottom: 0px;
  /* line-height: 1.625; */
}

.post-content ul,
.tiptap-editor .ProseMirror ul {
  list-style-type: disc;
  ;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.post-content ol,
.tiptap-editor .ProseMirror ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.post-content li,
.tiptap-editor .ProseMirror li {
  margin-bottom: 0.25rem;
}

.post-content li::marker,
.tiptap-editor .ProseMirror li::marker {
  color: oklch(74.6% 0.16 232.661);
  /* font-size: 1.2em; */
  font-weight: bold;
}

.post-content a,
.tiptap-editor .ProseMirror a {
  color: oklch(74.6% 0.16 232.661);
  text-decoration: none;
}

.post-content strong,
.tiptap-editor .ProseMirror strong {
  color: oklch(74.6% 0.16 232.661)
}

.post-content a:hover,
.tiptap-editor .ProseMirror a:hover {
  color: oklch(65% 0.16 232.661);
}

.post-content :not(pre)>code,
.tiptap-editor .ProseMirror code {
  background-color: rgb(26, 44, 77);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.tiptap-editor .ProseMirror pre {
  background-color: #111827;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

.tiptap-editor .ProseMirror pre code {
  background-color: transparent;
  padding: 0;
  color: inherit;
}

.tiptap-editor .ProseMirror code {
  background-color: #1d2943;
  /* background-color: red; */
  padding: 2;
  padding-left: 6;
  padding-right: 6;
  color: #ffffff;
}

.post-content blockquote,
.tiptap-editor .ProseMirror blockquote {
  border-left: 4px solid oklch(74.6% 0.16 232.661);
  padding-left: 1rem;
  font-style: italic;
  /* color: #4b5563; */
  /* background-color: #f9fafb; */
  margin: 2rem 0;
  /* padding-top: 0.2rem; */
  /* padding-bottom: 0.2rem; */
}


.post-content img,
.tiptap-editor .ProseMirror img {
  max-width: 100%;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 95%;
}

.post-content hr,
.tiptap-editor .ProseMirror hr {
  border: 0;
  border-top: 1px solid #d1d5db;
  margin: 2rem 0;
}

/* , Arial, Helvetica, sans-serif */



/* width */
::-webkit-scrollbar {
  display: none;
  height: 9px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}